$black:#000000;
$white: #ffffff;


$pink: #ed1c94;
$transparent: transparent;
$gray: #838386;
$purple: #981df0;
$yellow: #ffec17;
$purple-dark: #6d0eb1;
$white-dark: #f2f3f9;
$black-header: #333333;
$background-gray: #f2f3f9;
$black-text: #29293a;
$border-card: #c2c2c3;
$border-blog: #f2f3f9;
$blog-box-hover: #6e7b9d80;
$blog-mask: rgba(0, 0, 0, 0.2);
$linear-gradient: linear-gradient(to right,  $purple-dark 20%, $pink);

$facebook-color: #3e5a86;
$twitter-color: #008ee0;
$google-color: #b53418;
$linkedin-color: #116584;

$footer-nav-border: #cacbd333;

$lato-font: "Lato", Helvetica, Arial, sans-serif;
$oswald-font: "Oswald", Helvetica, Arial, sans-serif;